<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
	<title>{% block title %}Bootstrap 101 Template{% endblock %}</title>
    <!-- Bootstrap -->
    {% block styles %}
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="{{ STATIC_URL }}css/sitorium_test.css" rel="stylesheet">
    {% endblock %}
    
    
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="container"> 
    {% block content %}
        <h1>Hello, world!</h1>
    {% endblock %}
    {% block js %}
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="http://code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% endblock %}  
    {% block form_media %}
    {% endblock %} 
   </div> 
  </body>
</html>