	{% comment  %}
	<div class="input-group color color-field col-sm-2" data-color="{{ value }}" data-color-format="hex">
		<input type="text" class="form-control " value="{{ value }}" name="{{ name }}" readonly />
		<span class="input-group-addon"><i style="background-color: {{ value }})"></i></span>
	</div>
	
	<span class="add-on input-group-addon"><i style="background-color: {{ value }}"></i></span>
	{% endcomment %}
	
	
<div class="input-group color col-sm-2" data-color="{{ value }}" data-color-format="hex">
	<input type="text" class="form-control " value="{{ value }}" name="{{ name }}" readonly >
	<span class="add-on input-group-addon"><i style="background-color: {{ value }}"></i></span>
</div>