{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
Products
{% endblock %}

{% block content %}
<h1>Products</h1>

{% for product in products %}
<div class="row">
    <div class="col-md-3">
        <a href="/product/{{ product.id }}/"><img src="{{ product.photo|thumbnail_url:'product_icon' }}" alt="" /></a>
    </div>
    <div class="col-md-6">
    
    <div class="product-list-item-head">
		    <h2><a href="/product/{{ product.id }}/">{{ product.product_name }}</a></h2>
		    <span>Wieght: {{ product.wieght }}</span>
		    <span>Height: {{ product.height }}</span>
            <span>Colors:</span>
            <span class="colored-box" style="background: {{ product.color }}"></span>
            <span class="colored-box" style="background: {{ product.color_second }}"></span>
            
		</div>
	    <div class="product-list-item-desc">
	        {{ product.description|safe }}
	    </div>
	    {% if user.is_authenticated %}
	        <a class="btn btn-primary" href="/product_edit/{{ product.id }}/">Edit product</a>
	    {% endif %}
    
    </div>
</div>
<br />
{% endfor %}

<div class="center">
    <ul class="pagination pagination-margin">
        {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">Previous</a><li>
        {% else %}
            <li class="disabled"><a href="#">previous</a><li>
        {% endif %}
        {% for num_page in products.paginator.page_range %}
            {% if products.number == num_page %}
            	<li class="disabled"><a href="?page={{ num_page }}">{{ products.number }}</a></li>
	        {% else %}
	            <li ><a href="?page={{ num_page }}">{{ num_page }}</a></li>
	        {% endif %}
		{% endfor %}
        {% if products.has_next %}
            <li><a href="?page={{ products.next_page_number }}">Next</a></li>
        {% else %}    
            <li class="disabled"><a href="#">next</a></li>
        {% endif %}
    </ul>
<br />    
</div>
{% endblock %}
