{% load thumbnail %}
<div class="row">
	{% for product in products %}
	    <div class="col-md-4">
	            <a href="/product/{{ product.id }}/"><img src="{{ product.photo|thumbnail_url:'product_icon' }}" alt="" /></a>
	                <h3><a href="/product/{{product.id }}/">{{ product.product_name }}</a></h3>
	                <p>{{ product.description|truncatewords:20 }}</p>
	    </div>
	{% endfor %}
</div>