{% extends "base.html" %}

{% block title %}
    Products -> Edit {{ product.product_name }}
{% endblock %}

{% block form_media %}
    {{ form.media }}
{% endblock %}

{% block js %}
   {{ block.super }}
   <script src="{{ STATIC_URL }}js/jquery.forms.js"></script>
   <script src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}

{% block content %}

<h1><a href="/">Products</a></h1>

<div id="success_message"></div>

<div class="row">
<div class="col-md-4">
    <div class="alert alert-success hide"></div>
    <div class="alert alert-danger hide">Danger</div>
  {% comment %}
	{% if post %}
	{% if form.errors %}
	    <div class="alert alert-danger">Danger</div>
	    {{ form.errors }}
	{% else %}
	    <div class="alert alert-success">Success</div>
	{% endif %}
	{% endif %}
  {% endcomment %}
</div>	
</div>

{% comment %}
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
{% endcomment %}

<div class="progress">
        <div class="progress-bar"></div >
        <div class="percent">0%</div >
    </div>


<form action="." method="post" class="form-horizontal" role="form" id="product_form" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group">
        <div class="col-sm-2" >
	        {{ form.product_name }}
	    </div>
	</div>    
	<div class="form-group">
	    <label class=" col-sm-1 control-label">{{ form.photo.label }}: </label>
	    <div class="col-sm-7 photo_field">
            {{ form.photo }}
	    </div>
	</div>
	
    <div class="form-group">    
		<label class="col-sm-1 control-label">{{ form.wieght.label }}: </label>
		<div class="col-sm-2">
		    {{ form.wieght }}
		</div>
		<label class="col-sm-1 control-label">{{ form.height.label }}: </label>
		<div class="col-sm-2">
		    {{ form.height }}
		</div>
		<label class="col-sm-1 control-label product-color-label">{{ form.color.label }}: </label>
        {{ form.color }}
        <label class="col-sm-1 control-label product-color-label">{{ form.color_second.label }}: </label>
		{{ form.color_second }}     
	</div>
	<div class="form-group">
	    <div class="col-sm-6">
		    {{ form.description }}
		</div>    
	</div>
	
	<button type="submit" class="btn btn-primary" id="submit_form">Save</button>
</form>

{% endblock %}
