{% extends "base.html" %}
{% load thumbnail %}
{% load product_tags %}

{% block title %}
Products -> {{ product.product_name}}
{% endblock %}

{% block content %}

<h1><a href="/">Products</a></h1>
<h2>{{ product.product_name }}</h2>
<div class="row">
    <div class="col-md-5">
        <img src="{{ product.photo|thumbnail_url:'product_photo' }}" alt="" />
    </div>
    <div class="col-md-5">
        
        <div class="product-list-item-head">
		    <span>Wieght: {{ product.wieght }}</span>
		    <span>Height: {{ product.height }}</span>
            <span>Color 1:</span>
            <span class="colored-box" style="background: {{ product.color }}"></span>
            <span>Color 2:</span>
            <span class="colored-box" style="background: {{ product.color_second }}"></span>
		</div>
	    <div class="product-list-item-desc">
	         {{ product.description|safe }}
	    </div>
	</div>
</div>
<br /><br />
{% product_random %}
{% endblock %}
