{% extends "base.html" %}

{% block title %}
    Store Responses
{% endblock %}

{% block content %}
<ul class="list-group">
    {% for response in responses %}
		<li class="list-group-item">
		    <span class="badge">{{ response.status_code }}</span>
		    <span class="badge">{{ response.method }}</span>
		    {{ response.url }}
		</li>
    {% endfor %}
</ul>

<div class="center">
    <ul class="pagination">
        {% if responses.has_previous %}
            <li><a href="?page={{ responses.previous_page_number }}">Previous</a><li>
        {% else %}
            <li class="disabled"><a href="#">previous</a><li>
        {% endif %}
        {% for num_page in responses.paginator.page_range %}
            {% if responses.number == num_page %}
            	<li class="disabled"><a href="?page={{ num_page }}">{{ responses.number }}</a></li>
	        {% else %}
	            <li ><a href="?page={{ num_page }}">{{ num_page }}</a></li>
	        {% endif %}
		{% endfor %}
        {% if responses.has_next %}
            <li><a href="?page={{ responses.next_page_number }}">Next</a></li>
        {% else %}    
            <li class="disabled"><a href="#">next</a></li>
        {% endif %}
    </ul>
<br />    
</div>
{% endblock %}