body {
  padding-top: 50px;
  padding-bottom: 70px;
}

.pagination-margin li a{
    margin-left: 20px;
}

.product-list-item-head{
  padding-bottom: 10px;
}

.product-list-item-head *{
    display: inline;
    padding-right: 20px;
    height: 20px;
    white-space: nowrap;
}

.colored-box { 
    border-radius: 10px; 
    border: 1px solid black; 
    width: 20px; 
    height: 20px; 
    display: inline-block;    
}

.product-list-item-desc{
    max-width: 400px;
}

.center{
    text-align: center;
}

.product-color-label{
    white-space: nowrap;
}


